body{
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    height: 200px;
    background-color:khaki;
}

#wrapper {
    display: flex;
}

main {
    width: 600px;
    margin: 0 auto;
    background-color:blanchedalmond;
}

aside {
    width: 200px;
    margin: 0 auto;
    background-color:black;
}